<div class="container main-container">
    <h2>Bar</h2>

    <div>
        Unidade Manual: {{configManual.unidadeId}} - Token Manual: {{configManual.unidadeToken}}
    </div>

    <div>
        Unidade: {{config.unidadeId}} - Token: {{config.unidadeToken}}
    </div>

    <div>
        Bebidas 1: {{barBebida1}}
    </div>

    <div>
        Bebidas 2: {{barBebida2}}
    </div>

    <div>
       Dados Unidadade (service): {{dadosUnidade}}
    </div>

    <br><br><br>
    <h2>Progress: {{progress}}%</h2>
    <p *ngIf="progress >= 100">DOne processing {{label}} of Angular ZOne!</p>

    <a href="javascript:void(0)" class="btn btn-success" (click)="processWithinAngularZone()">Processar dentro da Zona do Angular</a>
    <a href="javascript:void(0)" class="btn btn-danger" (click)="processOutsideOfAngularZone()">Processar fora da Zona do Angular</a>
    
</div>
